.headerNavigation {
    background-color: white;
    padding: 29px 62px 47px;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
  }
  .flexWrapperOne {
    margin-bottom: 20px;
    padding: 0 0 0 24px;
    display: flex;
    flexDirection: row;
    align-items: center;
  }
  .generateLogoText2 {
    margin-right: 407px;
  }
  .wordsOnNavBar {
    width: 216px;
    height: 27px;
    left: 740px;
    top: 46px;
    fontFamily: Space Mono;
    font-style: normal;
    font-weight: normal;
    font-size: 18px;
    line-height: 27px;
    /* identical to box height */
    display: inline-block;
    align-items: flex-start;
    letter-spacing: -0.015em;
    color: #000000;;
  }

  .ourHistory {
    width: 216px;
    height: 27px;
    left: 740px;
    top: 46px;
    fontFamily: Space Mono;
    font-style: normal;
    font-weight: normal;
    font-size: 18px;
    line-height: 27px;
    /* identical to box height */
    display: inline-block;
    align-items: flex-start;
    letter-spacing: -0.015em;
    color: #000000;;
  }
  .productDevelopment {
    width: 216px;
    height: 27px;
    left: 740px;
    top: 46px;
    fontFamily: Space Mono;
    font-style: normal;
    font-weight: normal;
    font-size: 18px;
    line-height: 27px;
    /* identical to box height */
    display: inline-block;
    align-items: flex-start;
    letter-spacing: -0.015em;
    color: #000000;
  }

  .impact {
    width: 89px;
    height: 27px;
    left: 1007px;
    top: 46px;
    fontFamily: Space Mono;
    fontStyle: normal;
    fontWeight: normal;
    font-size: 18px;
        line-height: 27px;
    /* identical to box height */
    display: flex;
    align-items: center;
    letter-spacing: -0.015em;
    color: #000000;
    margin-right: 51px;
  }
  .members {
    height: 27px;
    width: 82px;
    // @include space-mono-18-regular;
    fontFamily: Space Mono;
    color: black;
    display: flex;
    align-items: center;
    margin-right: 51px;
  }
  .clients {
    height: 27px;
    width: 86px;
    // @include space-mono-18-regular;
    fontFamily: Space Mono;
    color: black;
    display: flex;
    align-items: center;
  }
  .line1 {
    width: 1320px;
    height: 1px;
    background-color: black;
  }
  .leftLinks{
   flex:1 1 200px;
}